h1, h2, h3 { margin: auto; color: #cc0000; }
div.note { margin-bottom: 20px; padding: 10px; }
#answer { display: none; }

#LELEL.kekeroni {
    prop: value;
}

p {
    height: 10.0;
}

ul {
    height: 11.0;
}

li {
    height: 12.0;
}

.valid {
    height: 50.0;
    width: 100.0;
}

a {
    height: 10;
    width: 10;
    background-color: red;
}

b {
    height: 20;
    width: 20;
    background-color: blue;
}

c {
    height: 30;
    width: 30;
    background-color: green;
}
